@import url('https://fonts.googleapis.com/css2?family=Comme&family=Inter:wght@700&family=Montserrat:wght@100&family=MuseoModerno:ital,wght@0,500;1,400&family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    /* outline: #ff0000 1px solid;  */
}

body {
    background-image: linear-gradient(to right, #297af4, #0088f5, #0094f4, #009ff0, #12a9eb);
}

/* .sidenav{
    width: 100%;
    display: flex;
}
.sidenav-box{
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
    transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
    align-items: center;
    flex-direction:row ;
    background-color: #0e509b;
    z-index: 999999;
}
.tags{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
}
.sidenav a{
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    border: #fff;
}

.sidenav hr{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: solid 2px rgb(7, 151, 223);
    background-color: #fff;
}
.sidenav h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 25px;
    padding: 5% 0;
    text-align: center;
}
.sidenav h1:hover{
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: rgb(48 176 219);
}
.sidenav img {
    width: 100px;
    height: 100px;
}
.dropdown-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dropdown-box h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #fff;
    cursor: pointer;
}
.dropdown{
    width: 100%;
    font-size:medium;
    background-color: #99dcf5;
    display: none;
}
.dropdown-box i{
    padding-right: 10px;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: rotate(-180deg);
}
.dropdown.active{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.dropdown-box i.active{
    padding-left: 10px;
    transform: rotate(-360deg) !important;
}
.dropdown-box.active {
    background-color: #41c0ee;
}
.dropdown ul{
    list-style: none;
    display: flex; 
    position: absolute;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
    align-items:center;
    justify-content:space-around;
}
.dropdown-box h1.active{
    background-color: rgb(48 176 219);
}
.dropdown-box h2{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: #fff;
    
}
.dropdown-box li:hover{
    background-color: #5bdfee;
}
.dropdown li{
    width: 100%;
    transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    padding: 5px;
    text-align: center;
    font-size: large;
}
.sidenav-user{
    display: flex;
    width: 30%;
    align-items: center;
    flex-direction: column;
}
.sidenav-user a{
    width: 20%;
}
.sidenav-user img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.sidenav-user h2{
     color: #fff;
     padding-left: 30px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: larger;
}
.sidenav-user-info{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 680px)  {
    .dropdown-box h1{
        font-size: medium;
    }
    .sidenav-user h2{
        font-size: x-small;
        padding-left: 30px;
    }
    
}
.sign-out-btn{
    border:none;
    width: 100%;
    color: #fff;
    font-size: larger;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    border-radius: 20px;
    background-color:#009ff0;
    cursor: pointer;
    transition:all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.sign-out-btn:hover{
    outline: 5px solid #0088f5;
    outline-offset: 2px;
} */
/* header */
/* .header{
    width: 100%;
    overflow: hidden;
}
.header-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    background-image: linear-gradient(to right, #00378b, #0055a8, #0073c3, #1692dc, #37b2f4);
}
.header-box img{
    width: 100px;
    height: 100px;
}
.section{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
.dropdown{
    display: flex;
    width: 25%;
    flex-direction: column;
    cursor: pointer;
}
.dropdown h1{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 111, 201);
    border-radius: 20px;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown h1.active{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.dropdown i{
    transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    rotate: -180deg;
}
.dropdown i.active{
    rotate: 360deg;
}
.dropdown h1:hover{
    background-color: rgb(255, 166, 0);
}
.dropdown-box{

    position: absolute;
    transform:scale(0);
    background-color: #12a9eb;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 20%;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform:scale(0);
    transform-origin: top;
    z-index: 9999;
}
@keyframes navbar{
    0%{
        transform: scaleY(0);
        margin-top: 60px;
        z-index: -99;
    }
    100%{
        transform: scaleY(1);
        margin-top: 60px;
    }
}

.dropdown-box.active{
    animation: navbar 0.5s forwards;
}

@keyframes reverse{
    from{
        transform:  scaleY(1);
        margin-top: 60px;
    }
    to{
        transform: scaleY(0);
        margin-top: 0;
    }
}
.dropdown-box a{
    padding: 10px;
    text-decoration: none;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.user{
    display: flex;
    width: 10%;
    align-items: center; 
    justify-content: flex-end;
}
.user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user i{
    margin-left: 10px;
    color: #fff;
    font-size: larger;
    cursor: pointer;
}
.user-dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 10%;
    background-color: #fff;
    border: 1px solid #a2a2a2;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-dropdown h3{
    padding: 10px;
    border-bottom:1px solid #b4b4b4 ;
}
.user-dropdown a{
    text-decoration: none;
    font-size: large;
    color: #000;
    padding: 10px;
}
.user-dropdown button{
    width: 100%;
    border: none;
    text-align: left;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background: none;
    color: #000;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-dropdown i{
    color: #000;
}


.home{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
}
.home-img{
    display: flex;
    margin-top: 5%;
    justify-content: center;
}
.home-img img{
    border-radius: 30px;
}
.home-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color : rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
.home-search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2% 0;
}
.search-box{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.search-box input{
    border-radius: 40px;
    border: solid 2px #09333a;
    background-color: #d9d9d9;
    color: #000;
    width: 100%;
    font-size: larger;
    padding: 20px;
}
.search-box input:focus-visible{
    outline: none;
}
.search-box button{
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    border: none;
    color: #fff;
    background-color: #0689f5;
}
.home-title h1{
    padding: 10px 0;
}
.home-box{
    width: 80%;
    flex-direction: column;
    margin: 10px auto 50px auto;
    border-radius: 30px;
    display: flex;
   align-items: center;
    background-color: #Fff;
}
.home-card{
    padding: 3% 0;
    width: 100%;
}
.home-card h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
}
.home-card p{
    padding-left: 20px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mem-card img{
    width: 250px;
    height: 250px;
}
.home-mem{
    display: flex;
    flex-direction: row;
    padding:0 0 10px 0 ;
    justify-content: center;
    gap: 20px;
}
.mem-title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger ;
    padding: 20px 0;
}
.home hr{
    background-color: #000;
    width: 90%;
    height: 10px;
    border-radius: 10px;
    text-align: center;
}
.mem-card{
    display: flex;
    padding: 0 20px;
    background-color: #508bc6;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    gap: 20px;
    overflow: hidden;
    color: #fff;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.mem-card h1{
    padding-top: 10px;
    font-size: 20px;
}
.mem-card .img{
    flex-basis: 48%;
    text-align: center;
}
@media only screen and (max-width:1280px) {
    .user-dropdown{
        top: -0.5% !important;
    }
    .dropdown h1{
        font-size: 13px;
    }
    @keyframes navbar{
        0%{
            transform: scaleY(0);
            margin-top: 50px;
            z-index: -99;
        }
        100%{
            transform: scaleY(1);
            margin-top: 50px;
        }
    }
} */
header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #FF8A00 0%, #DFAE00 96.65%);
}

header i.close{
    display: none;
}
i.open{

    display: none;
}
.header-logo {
    max-width: 70px;
    max-height: 70px;
    margin-left: 10px;
    border-radius: 50%;
}

.header-logo img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.header-content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding-left: 10px;
}

.header-content a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-decoration: none;
    width: 25%;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 25px 0;
    text-align: center;
}

.header-content i {
    padding-right: 10px;
}

.header-content a:hover {
    background-color: #00000033;
}

.header-content .dropdown-box {
    position: absolute;
    transform-origin: top;
    top: 100%;
    right: 0%;
    padding: 20px 0;
    background-color: #FF8A00;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: scaleY(0%);
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.dropdown-box.active {
    animation: drop forwards .5s;
}

.dropdown-box.refuse {
    animation: return .5s forwards;
}

@keyframes drop {
    0% {
        transform: scaleY(0%);
        z-index: 99;
    }

    10% {
        transform: scaleY(10%);
    }

    100% {
        transform: scaleY(100%);
        z-index: 99;
    }
}

@keyframes return {
    0% {
        transform: scaleY(100%);
        z-index: 99;
    }

    100% {
        transform: scaleY(0%);
        z-index: 99;
    }
}

.dropdown-box a {
    width: 90% !important;
    padding: 10px 0;
    padding-right: 10%;
    text-align: right !important;
}

.header-user {
    margin-right: 20px;
    position: relative;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.header-user img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.header-user i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.header-user-drop i {
    color: #000;
}

.header-user-drop {
    z-index: 99;
    position: absolute;
    display: flex;
    top: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 130%;
    background-color: #fff;
}

.header-user-drop a {
    color: #000;
    padding: 10px 5px;
    font-size: large;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.header-user-drop h1 {
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    border-bottom: 1px solid;
}

#google_translate_element {
    display: flex;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#google_translate_element select {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: none;
}

/* navbar */
nav {
    width: 100%;
    position: relative;
    background-color: #5fb8ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav form {
    position: relative;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

nav form input {
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 40px;
    font-size: medium;
}

nav form button {
    position: absolute;
    border-radius: 50%;
    border: none;
    background-color: #000;
    color: #fff;
    width: 50px;
    height: 50px;
    right: 1%;
    cursor: pointer;
}

/* announcement */
.announcement {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.container i {
    position: absolute;
    rotate: 90deg;
    margin-left: 10px;
    z-index: 999;
    color: #fff;
    font-size: min(4vw,4vh);
    cursor: pointer;
}

.container i:nth-child(1) {
    right: 10px;
    rotate: -90deg !important;
}

.cards-container {
    width: 100%;
}

.cards-container .info {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #0000004a;
}
.info h3, .info h1{
    padding: 0 50px 0 50px;
}
.info h1{
    padding-top: max(10px,1vw);
    font-size: max(2vw,2vh);
}
.info h3{
    font-size: max(1.5vw,1.5vh);
    word-break: break-all;
}
.container img {
    width: 100%;
    height: 30vw;
}

.count {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9;
}

.count i {
    font-size: 10px;
}

/* welcome */
.welcome {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.welcome-title {
    width: 50%;
    gap: 10px;
    background: linear-gradient(90deg, #0A95E2 0%, #93D7EC 101.71%);
    display: flex;
    align-items: center;
    padding: clamp(5px,2vw,20px);
    margin-left: 20px;
    border-radius: 40px 10px 40px 10px;
}
.welcome-title h1,.welcome-title h2{
    font-family: 'Inter',sans-serif;
    font-size: min(3vw,30px);
}
.welcome-title img {
    width: min(40%,40vw);
}

.welcome-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.user-figure {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: flex-start;
    width: 30%;
    gap: 20px;
}

.user-figure h1 {
    width: 80%;
    border-radius: 20px;
    padding: clamp(1vw,2vw,5vw);
    color: #000;
    font-size: min(3vw,25px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(35, 35, 35, 0.91);
    border-radius: 40px;
}

.user-figure p {
    font-size: 30px;
}

/* training */
.training {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.training-title {
    width: fit-content;
    margin-left: 20px;
    display: flex;
    gap: 10px;
    background: #fd8300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    align-items: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
}
.training-title h1{
    font-size: min(20px,20vw);
}
.training-title img {
    width: 50px;
    height: 50px;
}

.training-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.training-card {
    width: clamp(60vw,70vw,100vw);
    overflow: hidden;
    margin-left: 20px;
    background: #00498D;
    box-shadow: 0px 4px 4px rgba(0, 43, 74, 0.85);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.training-card img{
    width: min(10vw,100px);
    height: min(10vw,100px);
}

.card-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 60%;
    font-family: 'Courier New', Courier, monospace;
}
.card-info h1{
    font-size: clamp(2vw,4vh,5vh);
}
.more-info {
    background: #3492D7;
    
    width: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.time {
    display: flex;
    align-items: center;
}

.time img {
    width: 31px;
    height: 27px;
}

.status {
    display: flex;
    align-items: center;
    gap: 5px;
}


.status div.active{
    background-color: #00dd00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.status div.deactive{
    background-color: red !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.training-card button {
    margin-left: 10%;
    cursor: pointer;
    width: 15%;
    height: 50px;
    background: linear-gradient(90deg, rgb(8, 255, 8), rgb(108, 253, 94));
    border: none;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    border-radius: 40px;

}

.see-more-btn {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#see-more {
    width: 20%;
    margin-left: 20px;
    border-radius: 20px;
    background: #2ACE93;
    padding: 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* leader board */
.leader-board {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.leader-title {
    width: fit-content;
    color: #Fff;
    background: rgba(21, 178, 245, 0.96);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.54);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.leader-title h1{
    font-size: min(20px,20vw);
}
.leader-table{
    width:  100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
.leader-table table{
    width: 60%;
    background-color: #fff;
    max-height: 400px;
    table-layout: fixed;
    border-collapse: collapse;
    border-bottom: 5px solid #FF9900;
}
.leader-table thead{
    background-color: #FF9900;
    padding: 10px;
}
.leader-table th{
    color: #fff;
    text-align: left;
}
.leader-table table th , .leader-table table td{
    padding: 12px 15px;
}
.leader-table tbody tr {
    border-bottom: 1px solid #dddd;
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.leader-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.leader-table tbody tr:hover{
    background-color:#b4defa ;
    color: #0094f4;
    font-weight: bolder;
}
.read-more {
    display: none ;
}
.leader-table .read-more.active{
    position: absolute;
    width: 60%;
    height: 50px;
    background:linear-gradient(transparent, rgb(255 188 78));
    bottom: 0;
    display: flex;
    justify-content: center;
}
.read-more button{
    width: 150px;
    height: 30px;
    background-color: #ffd43b;
    border: none;
    border-radius: 40px;
    font-size: large;
    letter-spacing: 2px;
    color:#ffffff;
    cursor: pointer;
}
/* footer */
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002438;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.contact{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Inter', sans-serif;
}
.social-icon{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.social-icon .icon{
    display: flex;
    gap: 20px;
}
.social-icon img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.feedback{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}
.feedback input{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: solid 1px #999999;
}
.feedback button{
    background: #0E5ACB;
    border: none;
    border-radius: 10px;
    font-size: larger;
    width: 30%;
    cursor: pointer;
    color: #fff;
    height: 50px;

}
@media only screen and (max-width:400px){
    header{
        width: 100%;
        height: 100vh;
        right: -100vh;
        z-index: 9999;
        position: fixed;
        flex-direction: column;
        justify-content: unset;
        overflow: auto;
        transition:all .5s cubic-bezier(0.19, 1, 0.22, 1) ;
    }
    i.open{
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 9999999;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0094f4;
        color: #fff;
        font-size: 8vw;
        top: 20px;
        left: 20px;
        cursor: pointer;
        transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    i.open.active{
        background-color: #FF9900;
    }
    header.active{
        right: 0;
    }
    header i.close{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        width: 50px;
        cursor: pointer;
        height: 50px;
        color: #fff;
        font-size: 8vw;
    }
    .header-content{
        width: 90%;
        flex-direction: column;
        padding-left: 0;
    }
    .header-content a{
        width: 100% ;
    }
    .dropdown-box{
        width: 100% !important;
        z-index: 9999999 !important;
    }
    .header-user{
        width: 90%;
        margin-right: 0;
        justify-content: space-between;
        margin-top: 20px;
        background-color: #fd8300;
        padding: 5px;
        border-radius: 50px;
    }
    .header-user i{
        background-color: orange;
        font-size: 6vw;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
    }
    .header-user-drop{
        margin-top: 10px;
        width: 99%;
    }
    .header-user-drop a{
        width: 100%;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
    .header-user-drop h1{
        display: none;
    }
    .training-card{
        width: 90% !important;
        margin-left: 10px;
    }
    .card-info h1{
        font-size: medium;
    }
    .card-info p{
        font-size: small;
        word-break: break-all;
    }
    .more-info img{
        width: 20px;
        height: 20px;
    }
    .more-info{
        width: unset !important;
    }
    .more-info p{
        font-size: x-small;
    }
    .session-join{
        border-radius: 50% !important;
        font-size: 15px !important;
    }
    .leader-table table{
        width: 90%;
    }
    .leader-table table th,.leader-table table td{
        padding: 5px 10px;
        font-size:small !important;
    }
    .leader-table .read-more.active{
        width: 90%;
    }
    footer h1{
        font-size: medium;
    }
    footer p{
        font-size: small;
    }
    footer button{
        width: fit-content !important;
        padding: 5px;
    }
    .social-icon img{
        width: 30px;
        height: 30px;
    }
    nav form {
        width: 90%;
    }
}