body{
    background-color: rgb(44, 42, 42);
    margin: 0;
    padding: 0;
}
.title{
    text-align: center;
}
.title h1{
    color: white;
    font-family: monospace;
}
hr{
    height: 5px;
    width: 1000px;
    border-width:0 ;
    color: #fff;
    background: #fff;
}
.about p{
    font-family: monospace;
    color: white;
}
.about h2{
    text-align: center;
    font-family: monospace;
    color: white;
}
.about a span{
    background: #fff;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0ea7ff;
    z-index: -1;
    transition: 0.5s;
}
.about a{
    border-radius: 40px;
    font-family: fantasy;
    width: 10%;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #fff;
    margin: 12px 45%;
    padding: 12px;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    position: absolute;   
}
.about a:hover span{
    width: 100%;
    color: #0ea7ff;
    background: #00e1ff;
    box-shadow: 0 0  10px #00e1ff,0 0  40px #00e1ff,0 0  80px #00e1ff;
}
.table h2{
    text-align: center;
    color: white;
    font-family: monospace;
}
table{
    margin-left:30px ;
    text-align: center;
    color: white;
    border-collapse:collapse;
}
h2{
    text-align: center;
    color: white;
    font-family: monospace;
}
.cm input{
    margin-left: 10%;
    width: 200px;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(255, 253, 253);
    font-size: 16px;
    margin-bottom: 20px;
}
.cm button{
    font-family: monospace;
    background: linear-gradient(45deg, #ffffff 0%, #000000 100%);;
    text-decoration: none;
    display: inline-block;
    padding: 12px 0;
    margin-left: 10%;
    border: none;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    overflow: hidden;
    position: relative; 
    width: 200px;
    height: 40px;
}
.cm p{
    color: white;
    font-family: monospace;
    margin-left:10% ;
}