<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script src="https://kit.fontawesome.com/1410425ca1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'admin/style.css'%}">
</head>
<body>
    <div class="header">
        <div class="header-box">
            <div class="head-card">
                <a href="{% url 'dashboard' %}"><h1>Tổng quan</h1></a>
            </div>
            <div class="head-card">
                <a href="{% url 'user_manage' %}"><h1>Thành viên</h1></a>
            </div>
            <div class="head-card">
                <a href="{% url 'post_manage' %}"><h1>Bài đăng</h1></a>
            </div>
            <div class="head-card">
                <a href="{% url 'session_manage' %}"><h1>phiên hoạt động</h1></a>
            </div>
            <div class="head-card">
                <a href="{% url 'feedback' %}"><h1>phản hồi</h1></a>
            </div>
        </div>
        <div class="header-user">
            <img src="{% static 'image/user.png' %}" alt="">
            <h1 id="username"></h1>
            <i class="fa-solid fa-caret-down" id="dropdown"></i>
            <div class="dropdown-box" id="dropdown-box">
                <button id="sign-out-button">Đăng xuất</button>
            </div>
        </div>
    </div>
    <div class="dashboard">
        <div class="dash-title">
            <h1>Tổng quan</h1>
        </div>
        <div class="dash-box">
            
        </div>
    </div>
    <script src="{% static 'admin/dashboard/module.js' %}" type="module"></script>
    <script src="{% static 'admin/app.js' %}"></script>
</body>
</html>