@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* start-page */
.start-page{
    background-image: url(./drive-download-20220109T064108Z-001/hero.jpg);
    background-size: cover;
    height: 90vh;
    position: relative;
    color: #fff;
    z-index: 1;
}
.bl{
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: -99;
}
#top-bar img{
    width: 80px;
    height: 80px;
}
#top-bar{
    display: flex;
    margin-left: 20%;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 200px;
    color: #fff;
    z-index: 3;
}
#top-bar a{
    text-decoration: none;
    font-size: larger;
    position: relative;
    padding: 10px;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Commissioner', sans-serif;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    transition: 0.5s;
}
#top-bar a:hover{
    color: orange;
}
#top-bar a:hover:after{
    width: 100%;
}
#top-bar a::after{
    content: "";
    display: block;
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #ffe800;
}
#start-content{
    z-index: 9;
    margin-top: 162px;
    margin-left: 10%;
}
#start-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 290%;
    margin-bottom: 50px;
    font-weight: lighter;
}
#start-content #btn-1{
    width: 160px;
    height: 40px;
    border: orange 3px solid;
    border-radius: 40px;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    background: orange;
}
#start-content #btn-2{
    width: 160px;
    margin-left: 20px;
    height: 40px;
    border: orange 3px solid;
    border-radius: 40px;
    color: orange;
    font-family: arial;
    font-size: 13px;
    background: none;
}
/* feature */
.feature-page{
    padding: 50px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
}
.feature-title{
    text-align: center;
}
.feature-title h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 40px;
}
.orange-bar{
    width: 100px;
    height: 2px;
    margin-top: 50px;
    background: orange;
    text-align: center;
}
.feature-desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 40px;
}
.feature-box{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1100px;
    justify-content: space-evenly;
    margin-top: 100px;
}
.feature-card{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-left: 30px;
}
.feature-card i{
    color: orange;
    font-size: 50px;
    font-weight: lighter;
}
.feature-card h3{
    font-weight: lighter;
    font-size: larger;
    line-height: 40px;
    margin-top: 10px;
}
.feature-card p{
    line-height: 30px;
}
/*img-grid*/
.img-grid{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
}
.img-grid img{
    width: 395.8px;
    height: 267px;
}