*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, #ffffff, #f3f5fc, #e3edf9, #cfe6f4, #b9e0eb);
    background-attachment: fixed;
}
.sighin{
    margin-top: 20px;
    display: flex;
    margin-left: 20px;
}

.sighin-pic{
    width:60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.sighin-pic img{
    width: 30%;
}
.sighin-input{
    display: flex;
    flex-direction: column;
}
.sighin input:focus-visible{
    outline: none;
}
.sighin-input-card{
    display: flex;
    margin-top: 20px;
    padding: 0 30px;
    flex-direction: column;
}
.sighin-input-card label{
    color: #000;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sighin-input input{
    border: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bolder;
    font-family:monospace;
    background: none;
    border-bottom: solid rgb(0, 175, 238) 2px;
}
.sighin-input-card p{
    color: rgb(172, 172, 172);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
