body{
    margin: 0;
}
.price-box{
    display: flex;
    padding-top: 50px;
    margin-top: 20px;
    margin: auto;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.item a{
    text-decoration: none;
    color: black;
}
.item {
    width: 200px;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    display: flex;
}
img{
    height: 100%;
    width: 100%;
    object-fit:scale-down;
}
.box{
    display: flex;
    justify-content: space-around;
}
.price{
    font-weight: bold;
}
.info{
      color: #000;
      color: rgba(0, 0, 0, 0.5);
}
.sale{
    color:chartreuse
}