*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*price-box*/
.price-box{
    display: flex;
    margin: auto;
    width: 75%;
    flex-wrap: wrap;
    justify-content: start;
    gap: 40px;
}
.item a{
    text-decoration: none;
    color: black;
}
.item {
    width: 350px;
    height: 500px;
}
img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.box{
    display: flex;
    justify-content: space-around;
}
.price{
    font-weight: bold;
}
.info{
      color: #000;
      color: rgba(0, 0, 0, 0.5);
}
.sale{
    color:chartreuse
}
.price{
    text-decoration-line:line-through;
    color: #000;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
/*header*/
.sidenav{
    display: flex;
    justify-content: center;
    padding: 30px 10%;
    align-items: center;

}
.sidenav ul li a{
    list-style: none;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    font-family: fantasy;
    transition: 0.5s;
}
.sidenav li {
    display: inline-block;
    padding: 0 20px;
}
.sidenav ul li a:hover {
    color: blue;
}
