*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to right, #297af4, #0088f5, #0094f4, #009ff0, #12a9eb);
}
.sidenav{
    position: fixed;
    display: flex;
}
.sidenav-box{
    position: fixed;
    width: 30%;
    height: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
    left: 0%;
    display: flex;
    gap: 10px;
    transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
    align-items: center;
    flex-direction:column ;
    background-color: #0e509b;
    z-index: 999999;
}
.tags{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
}
.sidenav a{
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    border: #fff;
}
.sidenav-desc{
    display: flex;
    padding-bottom: 20px;
}
.sidenav hr{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: solid 2px rgb(7, 151, 223);
    background-color: #fff;
}
.sidenav h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 25px;
    padding: 5% 0;
    text-align: center;
}
.sidenav h1:hover{
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: rgb(48 176 219);
}
.sidenav-btn {
    display: flex;
    left: 17%;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: fixed;
    justify-content: center;
    align-items: center;
}
.sidenav-btn button{
    border-radius: 10px;
    width: 50px;
    color: #Fff;
    border: none;
    cursor: pointer;
    margin: 20px;
    background-color: #0e509b;
    height: 50px;
}
.sidenav-btn i{
    font-size: larger;
}
.sidenav img {
    width: 100px;
    height: 100px;
}
.dropdown-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dropdown-box h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #fff;
    cursor: pointer;
}
.dropdown{
    width: 100%;
    font-size:medium;
    background-color: #99dcf5;
    display: none;
}
.dropdown-box i{
    padding-right: 10px;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: rotate(-180deg);
}
.dropdown.active{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.dropdown-box i.active{
    padding-left: 10px;
    transform: rotate(-360deg) !important;
}
.dropdown-box.active {
    background-color: #41c0ee;
}
.dropdown ul{
    list-style: none;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
    align-items:center;
    justify-content:space-around;
}
.dropdown-box h1.active{
    background-color: rgb(48 176 219);
}
.dropdown-box h2{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: #fff;
    
}
.dropdown-box li:hover{
    background-color: #5bdfee;
}
.dropdown li{
    width: 100%;
    transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    padding: 5px;
    text-align: center;
    font-size: large;
}
.sidenav-user{
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
}
.sidenav-user a{
    width: 20%;
}
.sidenav-user img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.sidenav-user h2{
     color: #fff;
     padding-left: 30px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: larger;
}
.sidenav-user-info{
    display: flex;
    align-items: center;
}
.sign-out-btn{
    border:none;
    width: 100%;
    color: #fff;
    font-size: larger;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    border-radius: 20px;
    background-color:#009ff0;
    cursor: pointer;
    transition:all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.sign-out-btn:hover{
    outline: 5px solid #0088f5;
    outline-offset: 2px;
}
/* home */
.home{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
}
.home-img{
    display: flex;
    margin-top: 5%;
    justify-content: center;
}
.home-img img{
    border-radius: 30px;
}
.home-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color : rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
.home-title h1{
    padding: 10px 0;
}
.home-box{
    width: 80%;
    flex-direction: column;
    margin: 10px auto 50px auto;
    border-radius: 30px;
    display: flex;
   align-items: center;
    background-color: #Fff;
}
.home-card{
    padding: 3% 0;
    width: 100%;
}
.home-card h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
}
.home-card p{
    padding-left: 20px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mem-card img{
    width: 250px;
    height: 250px;
}
.home-mem{
    display: flex;
    flex-direction: row;
    padding:0 0 10px 0 ;
    justify-content: center;
    gap: 20px;
}
.mem-title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger ;
    padding: 20px 0;
}
.home hr{
    background-color: #000;
    width: 90%;
    height: 10px;
    border-radius: 10px;
    text-align: center;
}
.mem-card{
    display: flex;
    padding: 0 20px;
    background-color: #508bc6;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    gap: 20px;
    overflow: hidden;
    color: #fff;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.mem-card h1{
    padding-top: 10px;
    font-size: 20px;
}
.mem-card .img{
    flex-basis: 48%;
    text-align: center;
}
#google_translate_element{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#google_translate_element select{
    border-radius: 10px;
    border: #0236ca 2px solid;
    background-color: #0094f4;
    color: #fff;
    width: 100%;
    padding: 10px;
}