
body{
    background: #130f0f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* top games */
#topgames{
    padding: 90px 49px;
    text-align: center;
}
.gamebox{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    position: relative;
}
.gamebox .games{
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background: #3f3f3f;
    border-radius: 20px;
}
.games{
    width: 200px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.103);
    color: #fff;
}
.games img{
    border-radius: 10px;
}
.info a{
    color: aqua;
    font-family: monospace;
    font-size: larger;
}
.info{
    font-family: monospace;
    font-size: large;
}
.title-text{
    font-family: monospace;
    color: #fff;
    font-size: large;
}
/* sidenav */
.sidenav{
    background: #000;
    position: fixed;
    position: absolute;
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    z-index: 99;
}
.sidenav a.active{
    color: turquoise;
}
.sidenav a{
    float: left;
    font-family: fantasy;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    text-align: center;
    font-size: medium;
    display: block;
    position: relative;
}
.sidenav input{
    margin-bottom: 20px;
    border: none;
    border-bottom:2px solid white;
    float: right;
    font-size: large;
    background: transparent;
    outline: none;
    width: 190px;
    margin-top: 20px;
    margin-right: 10px;
    color: white;
}
.search-box button{
    border: solid #fff 5px ;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: #fff;
    background: #000;
}
.search-box{
    align-items: center;
    display: flex;
    padding-left: 20px;
}
/*owner profile*/
.owner img{
    border-radius: 100;
}