
body{
    background: #130f0f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*news*/
#news{
    margin: auto;
    text-align:left;
}
#newsbox{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
#newsbox .newscard{
    position: relative;
    width: 80%;
    background: #3f3f3f;
    border-radius: 20px;
}
.newscard img{
    width: 200px;
    margin: 18px 44px;
    height: 200px;
    border-radius: 20px;
}
.newscard .info h3:hover{
    color: aqua;
}
.info h3{
    font-family: sans-serif;
    transition:0.5s ;
    text-transform: uppercase;
}
.newscard{
    width: 200px;
    margin:20px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
/* home */
#topgames{
    padding: 90px 49px;
    text-align: center;
}
.info hr{
    background: rgb(255, 255, 255);
    height: 5px;
    border-radius: 10px;

}
.gamebox{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    position: relative;
}
.gamebox .games{
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background: #3f3f3f;
    border-radius: 20px;
    transition: 0.5s;
}
.games{
    width: 200px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.103);
    color: #fff;
    transition: 0.5s;
}
.readmore{
    display: none;
}
.info.show-more .readmore{
    display: inline;
}
.info.show-more .dots{
    display: none;
}
.gamebox .games::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #17e78c;
    border-right: 20px solid #17e78c;
}
.gamebox .games .more{
    position: relative;
    padding: 10px 15px;
    background: #17e78c;
    border: none;
    margin-top: 15px;
    display: inline-block;
    text-transform: uppercase;
    color: #383838;
    font-weight: bold;
    font-family:sans-serif;
    font-size: medium;
    cursor: pointer;
    letter-spacing: 2px;
}
.gamebox .games.active .info{
    height: auto; 
}
.gamebox .games.active .info::before{
    display: none;
}
.gamebox .games.active::before{
    border-top: 20px solid #ff3b7e;
    border-right: 20px solid #ff3b7e;
}
.gamebox .games .more::before{
    content: "Read More";

}
.gamebox .games.active .more::before{
    content: "Read less";
}
.gamebox .games.active .more{
    background: #ff3b7e;
    color: #fff;
}
.gamebox .games .info{
    position: relative;
    height: 155px;
    overflow: hidden;
}
.gamebox .games .info::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent,#3f3f3f);
}
.games img{
    border-radius: 10px;
}
.info a:hover{
    color: red;
}
.info a{
    color: aqua;
    font-family: monospace;
    font-size: 26px;
    transition:0.5s ;
    text-decoration: none;
}
.info{
    color: #fff;
    font-family: monospace;
    font-size: large;
}
.title-text{
    font-family: monospace;
    text-align: center;
    color: #fff;
    font-size: large;
}
/* sidenav */
.sidenav{
    background: #000;
    position: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    z-index: 99;
}
.sidenav a.active{
    border-radius: 8px;
    background: rgb(0, 247, 255);
    z-index: -1;
    color:azure;
    transition: all .5s ease 0s;
    position: relative;
}
.sidenav a:hover{
    border-radius: 8px;
    background: rgb(0, 247, 255);
    z-index: -1;
    color:azure;
    transition: all .5s ease 0s;
    position: relative;
}
.sidenav a{
    float: left;
    padding: 20px;
    font-family: fantasy;
    text-decoration: none;
    width: 116px;
    color: white;
    transition: 0.5s;
    text-align: center;
    font-size: medium;
    display: block;

}
/* .sidenav input{
    margin-bottom: 20px;
    border: none;
    border-bottom:2px solid white;
    float: right;
    font-size: large;
    background: transparent;
    outline: none;
    width: 190px;
    margin-top: 20px;
    margin-right: 10px;
    color: white;
}
.search-box button{
    border: solid #fff 5px ;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: #fff;
    background: #000;
}
.search-box{
    align-items: center;
    display: flex;
    padding-left: 20px;
} */
/*features*/
.feature{
    padding: 90px 49px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto auto auto;
}
.feature-title{
    text-align: center;
    font-size: larger;
    padding-top: 80px;
    color: #fff;
    font-family: sans-serif;
}
.feature-img{
    grid-row: 1 / 4;
    grid-column-end: 3;
}
.section{
    flex-basis: 50%;
}
.feature-img{
    flex-basis: 50%;
    margin: auto;
}
.feature-img img{
    width: 100%;
    height: 598px;
    margin: 4px 20px 20px 40px;
    border-radius: 10px;
}
.feature-icon{
    color: #fff;
    width: 50px;
    min-width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #fff ;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
}
.section h1{
    text-align: left;
    margin-bottom: 10px;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.desc{
    display: flex;
    font-size: medium;
    color: #fff;
    margin-bottom: 50px;
}
.feature-text{
    padding-left: 20px;
    margin-top: -18px;
    font-family: monospace;
    font-size: large;
}
/*Owner*/
.owner{
    padding: 90px 49px;
    text-align: left;
}
.owner-information a{
    color: aqua;
}
.owner-information{
    background: #3f3f3f;
    border-radius: 20px;
    width: 80%;
    height: 50%;
    margin: auto;
    color: #fff;
    font-family:monospace;
    padding: 50px;
    font-weight: bold;
}
.owner-information img{
    border-radius: 40px;
    border: 5px solid #fff;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.103);
}
/*Search*/
#search{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search{
    display: grid;
    height: 100%;
    padding: 90px 49px;
    place-items: center;
}
.search-box{
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box.active{
    width: 350px;
  }
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .search-box{
    height: 60px;
    width: 60px;
    position: relative;
}
.search-box.active{
    width: 350px;
}
.search .search-box input{
    height: 100%;
    width: 100%;
    font-family:monospace;
    font-size: medium;
    border: none;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    opacity: 0;
}
.search .search-box input.active{
    opacity: 1;
}
.search-box .search-icon{
    height: 60px;
    position: absolute;
    z-index: 1;
    width: 60px;
    background: #fff;
    color: #130f0f;
    transform: translate(-50%);
    right: 0px;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}
.search-box .search-icon.active{
    height: 50px;
    width: 50px;
    right: -20px;
    transform: translate(-50%) rotate(360deg); 
    color: #fff;
    background: #130f0f;
    line-height: 50px;
    font-size: 20px;
}
.search-box .cancel-icon{
    position: absolute;
    color: #fff;
    right: 30px;
    transform: translate(-50%);
    cursor: pointer;
    font-size: 25px;
    transition: all 0.5s  0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cancel-icon.active{
    right: -55px;
    transform: translate(-50%) rotate(360deg); 
}
