*{
    margin: 0;
    padding: 0;
}
.table th {
    vertical-align: middle;
    text-align: center;
  }
  .info-avatar {
    width: 10%;
  }
  
  .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .table .thead-dark th {
    text-align: center;
  }